---
- name: Apply RHEL system updates
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Update RHEL system packages
      ansible.builtin.include_role:
        name: redhat.rhel_system_roles.rhel_update
