---
- name: "Ensure AAP Inventories are configured"
  ansible.controller.inventory:
    name: "{{ item.name }}"
    organization: "{{ item.organization }}"
    description: "{{ item.description | default(omit) }}"
    state: present
    controller_host: "{{ controller_host }}"
    controller_oauthtoken: "{{ generated_token.ansible_facts.controller_token.token }}"
    validate_certs: "{{ controller_validate_certs }}"
  loop: "{{ controller_inventories }}"
  loop_control:
    label: "{{ item.name }}"

